@using MobilOkulProc.MobileApp.Models
@using MobilOkulProc.Entities.Concrete
@model FeedbackPageModel<FEEDBACK>
@{
    ViewBag.Title = "Add Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/message/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/message/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/message/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/message/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/message/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/message/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/message/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/message/css/main.css">
    <!--===============================================================================================-->
</head>


<body>
    

    <main id="main">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="contact1">
                <div class="container-contact1">
                    <div class="contact1-pic js-tilt" data-tilt>
                        <img src="~/images/fdbck.png" alt="IMG">
                    </div>


                    <span class="contact1-form-title">
                        Send A Feedback
                    </span>

                    <div class="wrap-input1 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        @*<input class="input1" type="text" name="email" placeholder="Email">*@
                        @Html.DropDownListFor(m => m.SelectedId, Model.List, "Please select a user", new { @class = "input1", @id = "name" })
                        <span class="shadow-input1"></span>
                    </div>

                    <div class="wrap-input1 validate-input" data-validate="Subject is required">
                        @*<input class="input1" type="text" name="subject" placeholder="Subject">*@

                        @Html.EditorFor(model => model.Mesajlar.Nesne.FeedbackContent, new { htmlAttributes = new { @class = "input1", @placeholder = "Feedback Content...", @rows = "6", @col = "6" } })
                        @Html.ValidationMessageFor(model => model.Mesajlar.Nesne.FeedbackContent, "", new { @class = "text-danger", @placeholder = "Feedback Content...", @rows = "6", @col = "6" })
                        <span class="shadow-input1"></span>
                    </div>
                    <div class="container-contact1-form-btn">

                        <input class="contact1-form-btn" aria-hidden="true" type="submit" value="Send your Feedback" />

                    </div>

                </div>
            </div>


        }






    </main><!-- End #main -->
    <!--===============================================================================================-->
    <script src="~/message/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/message/vendor/bootstrap/js/popper.js"></script>
    <script src="~/message/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/message/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/message/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

    <!--===============================================================================================-->
    <script src="~/message/js/main.js"></script>

</body>