@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>


  
    <div class="services">
        <div class="container">
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon">
                        <img src="~/images/send.png" alt="">
                    </div>
                    <div class="text">
                        <br />
                        <a style="text-decoration:none" href="@Url.Action("Add", "FeedBackPage") "><h1>Send a Feedback</h1></a>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon">
                        <img src="~/images/list.png" alt="">
                    </div>
                    <div class="text">
                        <br />
                        <a style="text-decoration:none" href="#"><h1>List Your Feedbacks</h1></a>

                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</body>
