@{
    if (ViewBag.Usertype == "\"Student\"")
    {
        Layout = "~/Views/Shared/_Layout_Student.cshtml";
    }
    else if (ViewBag.Usertype == "\"Parent\"")
    {
        Layout = "~/Views/Shared/_Layout_Parent.cshtml";
    }
    else if (ViewBag.Usertype == "\"Teacher\"")
    {
        Layout = "~/Views/Shared/_Layout_Teacher.cshtml";
    }

}
<body>


    <div class="template-presentation">
        <div class="container">
            <div class="col-md-7 hidden-xs hidden-sm">
                <div class="left-image">
                    <img src="~/images/school.png" alt="">

                </div>
            </div>

            <div class="col-md-5 hidden-xs hidden-sm">
                <div class="right-content">
                    <h4>SCHOOL MANAGEMENT SYSTEM</h4>
                    <div class="author-image">
                        <img src="img/template-author.png" alt="">
                    </div>
                    <div class="blue-button">
                        @*<a href="#">View More</a>*@
                    </div>
                </div>
            </div>
            <div class="col-md-5 hidden-lg hidden-md">
                <div class="right-content">
                    <div class="author-image">
                        <img src="~/images/school.png" alt="">
                    </div>
                    <h4>SCHOOL MANAGEMENT SYSTEM</h4>
                    <div class="blue-button">
                        @*<a href="#">View More</a>*@
                    </div>
                </div>
            </div>
            <div class="col-md-7 hidden-lg hidden-md">
                <div class="left-image">
                    <img src="img/template-image.png" alt="">
                </div>
            </div>
        </div>
    </div>


    <div class="services">
        <div class="container">
            @if (ViewBag.Usertype == "\"Student\"")
            {

                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon">
                            <img src="~/images/send.png" alt="">
                        </div>
                        <div class="text">
                            <br />
                            <a style="text-decoration:none" href="@Url.Action("Add", "FeedbackPage") "><h1>Send a Feedback</h1></a>
                        </div>
                    </div>
                </div>
            }

            @if (ViewBag.Usertype == "\"Teacher\"")
            {


                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon">
                            <img src="~/images/list.png" alt="">
                        </div>
                        <div class="text">
                            <br />
                            <a style="text-decoration:none" href="@Url.Action("List", "FeedbackPage") "><h1>List your Feedbacks</h1></a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>





</body>