@{
    if (ViewBag.Usertype == "\"Student\"")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else if (ViewBag.Usertype == "\"Parent\"")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else if (ViewBag.Usertype == "\"Teacher\"")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}
<body>
@*
    <div class="services">
        <div class="container">
            @if (ViewBag.Usertype == "\"Student\"")
            {

                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon">
                            <img src="~/images/send.png" alt="">
                        </div>
                        <div class="text">
                            <br />
                            <a style="text-decoration:none" href="@Url.Action("Add", "FeedbackPage") "><h1>Send a Feedback</h1></a>
                        </div>
                    </div>
                </div>
            }

            @if (ViewBag.Usertype == "\"Teacher\"")
            {


                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon">
                            <img src="~/images/list.png" alt="">
                        </div>
                        <div class="text">
                            <br />
                            <a style="text-decoration:none" href="@Url.Action("List", "FeedbackPage") "><h1>List your Feedbacks</h1></a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
*@

    <main id="main">


        <div class="row text-center" style="padding:100px; ">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">

                <h4 class="title"><a style="text-decoration:none" href="@Url.Action("Add", "FeedbackPage") "><h1>Send a Feedback</h1></a></h4>
                <p class="description "><img src="~/images/send.png" width="100" height="100" /></p>
            </div>
        </div>
        <div class="row text-center" style="padding:100px; ">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">

                <h4 class="title"><a style="text-decoration:none" href="@Url.Action("List", "FeedbackPage") "><h1>List your Feedbacks</h1></a></h4>
                <p class="description"><img src="~/images/list.png" width="100" height="100" /></p>
            </div>
        </div>




    </main><!-- End #main -->



</body>