@using MobilOkulProc.Entities.Concrete
@using MobilOkulProc.MobileApp.Models
@model FeedbackPageModel<FEEDBACK>

@{
    ViewData["Title"] = "List Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Float four columns side by side */
        .column {
            float: left;
            width: 25%;
            padding: 0 10px;
        }

        /* Remove extra left and right margins, due to padding */
        .row {
            margin: 0 -5px;
        }

            /* Clear floats after the columns */
            .row:after {
                content: "";
                display: table;
                clear: both;
            }

        /* Responsive columns */
        @@media screen and (max-width: 600px) {
            .column {
                width: 100%;
                display: block;
                margin-bottom: 20px;
            }
        }

        /* Style the counter cards */
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 16px;
            text-align: center;
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>

    @{int flag = 0; }
    <br />

    <main id="main">

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio section-bg">
            <div class="container float-left">

                <div class="section-title">
                    <h2>List Feedback</h2>

                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">

                            <li data-filter=".filter-app">Open</li>
                            <li data-filter=".filter-card">Close</li>

                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container float-left" data-aos="fade-up" data-aos-delay="100">
                    @foreach (var item in Model.PagedList)
                    {
                        <div class="col-lg-4 col-md- portfolio-item filter-app">


                            <div class="portfolio-wrap ">
                                <br />
                                <img src="~/images/notifications.png" class="image" alt="">

                                <div class="card float-lg-left">
                                    @if (item.UserID == @ViewBag.TeacherID)
                                    {

                                        <b> @Html.DisplayFor(modelItem => item.FeedbackDate)</b>
                                        <br />
                                        <b> @Html.DisplayFor(modelItem => item.FeedbackContent)</b>
                                        flag++;

                                    }
                                </div>



                            </div>
                            <br />



                        </div>

                    }


                    <div class="card float-lg-left">

                        @if (flag == 0)
                        {

                            <h4>You have no feedbacks.</h4>

                        }
                    </div>
                </div>
        </section><!-- End Portfolio Section -->




    </main>
</body>