@using MobilOkulProc.Entities.Concrete
@using MobilOkulProc.MobileApp.Models
@model FeedbackPageModel<FEEDBACK>

@{
    ViewData["Title"] = "List Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Float four columns side by side */
        .column {
            float: left;
            width: 25%;
            padding: 0 10px;
        }

        /* Remove extra left and right margins, due to padding */
        .row {
            margin: 0 -5px;
        }

            /* Clear floats after the columns */
            .row:after {
                content: "";
                display: table;
                clear: both;
            }

        /* Responsive columns */
        @@media screen and (max-width: 600px) {
            .column {
                width: 100%;
                display: block;
                margin-bottom: 20px;
            }
        }

        /* Style the counter cards */
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 16px;
            text-align: center;
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>

    @{int flag = 0; }
    <br />

    <main id="main">
        <section id="testimonials" class="testimonials section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>List Feedback</h2>
                    <p></p>
                </div>



                <p>
                    @foreach (var item in Model.PagedList)
                    {
                    <main id="main">

                        <div class="col-lg">
                            <div class="column">
                                <div class="card">
                                    @if (item.UserID == @ViewBag.TeacherID)
                                    {

                                        <b> @Html.DisplayFor(modelItem => item.FeedbackDate)</b>
                                        <br />
                                        <b> @Html.DisplayFor(modelItem => item.FeedbackContent)</b>
                                        flag++;

                                    }




                                </div>
                            </div>
                        </div>
                    </main>
                        
                    }

                    @if (flag == 0)
                    {

                        <h4>You have no feedbacks.</h4>

                    }
                </p>

                
            </div>
            

        </section>

    </main>
    </body>