@using MobilOkulProc.Entities.Concrete
@using MobilOkulProc.MobileApp.Models
@model FeedbackPageModel<FEEDBACK>

@{
    ViewData["Title"] = "List Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<table class="table table-bordered table-hover table-primary">
    <thead class="thead-dark">
        
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Mesajlar.Nesne.FeedbackContent)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Mesajlar.Nesne.FeedbackDate)
            </th>

            
        </tr>
        
        </thead>
        
    <tbody>
        @foreach (var item in Model.PagedList)
        {
            @if (item.UserID==@ViewBag.Userno)
            {


        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FeedbackContent)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FeedbackDate)
            </td>

        </tr>
            }
        }
    </tbody>
</table>





