@using MobilOkulProc.Entities.Concrete
@using MobilOkulProc.MobileApp.Models
@model FeedbackPageModel<FEEDBACK>

@{
    ViewData["Title"] = "List Feedback";
    if (ViewBag.Usertype == "\"Student\"")
    {
        Layout = "~/Views/Shared/_Layout_Student.cshtml";
    }
    else if (ViewBag.Usertype == "\"Parent\"")
    {
        Layout = "~/Views/Shared/_Layout_Parent.cshtml";
    }
    else if (ViewBag.Usertype == "\"Teacher\"")
    {
        Layout = "~/Views/Shared/_Layout_Teacher.cshtml";
    }

}


<body>
    @{int flag = 0; }
    <br />

    <div class="accordions">
        <div class="container-fluid">
            <div class="col-md-8 col-md-offset-2">
                <ul class="accordion">
                    @foreach (var item in Model.PagedList)
                    {
                        <li>
                            @if (item.UserID == @ViewBag.TeacherID)
                            {
                                <a>

                                    @Html.DisplayFor(modelItem => item.FeedbackDate)

                                </a>
                                flag++;
                            }
                            <p>

                                @if (item.UserID == @ViewBag.TeacherID)
                                {

                                    @Html.DisplayFor(modelItem => item.FeedbackContent)
                                }

                            </p>
                        </li>
                    }
                    <li>
                        @if (flag == 0)
                        {
                            <a>
                                <h4>You have no feedbacks.</h4>
                            </a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>




    <div class="template-presentation">
        <div class="container">
            <div class="col-md-7 hidden-xs hidden-sm">
                <div class="left-image">
                    <img src="~/images/school.png" alt="">

                </div>
            </div>

            <div class="col-md-5 hidden-xs hidden-sm">
                <div class="right-content">
                    <h4>SCHOOL MANAGEMENT SYSTEM</h4>
                    <div class="author-image">
                        <img src="img/template-author.png" alt="">
                    </div>
                    <div class="blue-button">
                        @*<a href="#">View More</a>*@
                    </div>
                </div>
            </div>
            <div class="col-md-5 hidden-lg hidden-md">
                <div class="right-content">
                    <div class="author-image">
                        <img src="~/images/school.png" alt="">
                    </div>
                    <h4>SCHOOL MANAGEMENT SYSTEM</h4>
                    <div class="blue-button">
                        @*<a href="#">View More</a>*@
                    </div>
                </div>
            </div>
            <div class="col-md-7 hidden-lg hidden-md">
                <div class="left-image">
                    <img src="img/template-image.png" alt="">
                </div>
            </div>
        </div>
    </div>


</body>
