@using MobilOkulProc.Entities.Concrete
@model List<NEWS>  
@{
    ViewBag.Title = "Duyurular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- /.info-box -->
<!-- PRODUCT LIST -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Duyurular</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <ul class="products-list product-list-in-card pl-2 pr-2">
            @foreach (var item in Model)
            {
                <li class="item">

                    <div class="product-info">
                        <a class="product-title">
                            @item.Title
                            <span class="badge badge-warning float-right">@item.NewsDate</span>
                        </a>
                        <span class="product-description">
                           @item.NewsContent
                        </span>
                    </div>
                </li>
                <!-- /.item -->
            }

        </ul>
    </div>
    <!-- /.card -->
</div>
