@using MobilOkulProc.Entities.Concrete
@model List<EXAM> 
@{
    ViewBag.Title = "Sınavlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- TABLE: LATEST ORDERS -->
<div class="card">
    <div class="card-header border-transparent">
        <h3 class="card-title">Sınav Listesi</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                    <tr>
                        <th>Ders</th>
                        <th>Sınav Detayları</th>
                        <th>Tarih</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Lecture.LectureName</td>
                            <td>@item.ExamDetails</td>
                            <td>@item.ExamDate.ToString("d.M.yyyy - HH:mm")</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
</div>