@using MobilOkulProc.Entities.Concrete
@model List<GRADE> 
@{
    ViewBag.Title = "Notlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int length = Model.Count;
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                
                    <!-- Main content -->
                    <div class="invoice p-3 mb-3">
                        <!-- title row -->
                        <div class="row">

                            <div class="col-12">
                                <h4>
                                    @Model[0].Lecture.LectureName
                                </h4>
                            </div>
                            <!-- /.col -->
                        </div>

                        <!-- Table row -->
                        <div class="row">
                            <div class="col-12 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>1. Sınav</th>
                                            <th>2. Sınav</th>
                                            <th>3. Sınav</th>
                                            <th>1. Performans</th>
                                            <th>2. Performans</th>
                                            <th>3. Performans</th>
                                            <th>Ödev/Proje</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            @for (int i = 0; i < length; i++)
                                            {
                                                <td>@Model[i].Grade</td>
                                            }
                                           



                                        </tr>

                                        </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                   
                       


                    <!-- /.invoice -->
               

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->