@using MobilOkulProc.Entities.General
@using MobilOkulProc.Entities.Concrete
@model Mesajlar<USER_LOGIN>
@{
    ViewBag.Title = "Login";

    Layout = "";

}


<!DOCTYPE html>
<html lang="en">
<head>

    <title>Mobil Okul Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min2.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util2.css">
    <link rel="stylesheet" type="text/css" href="~/css/main2.css">
    <!--===============================================================================================-->

</head>

<body>
    @using (Html.BeginForm("LoginPage", "LoginPage", FormMethod.Post, new { @autocomplete = "on" }))
    {
        <div class="limiter">
            <div class="container-login100" style="background-image: url('images/img-01.jpg');">
                <div class="wrap-login100 p-t-190 p-b-30">
                    <form class="login100-form validate-form">
                        <div class="login100-form-avatar">
                            <img src="images/user.png" alt="AVATAR">
                        </div>

                        <span class="login100-form-title p-t-20 p-b-45">
                            LOGIN
                        </span>

                        <div class="wrap-input100 validate-input m-b-10" data-validate="Username is required">

                            @Html.TextBoxFor(m => m.Nesne.UserName, new { @class = "input100", @placeholder = "Username" })
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">

                            @Html.PasswordFor(m => m.Nesne.Password, new { @class = "input100", @placeholder = "Password" })
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>

                        <div class="container-login100-form-btn p-t-10">
                            <button class="login100-form-btn">
                                Login
                            </button>
                            @if (Model != null)
                            {
                                if (Model.Durum == false)
                                {
                                    <div class="alert alert-@Model.Status" role="alert">@Model.Mesaj</div>
                                }
                            }
                        </div>

                        <div class="text-center w-full">
                            @*<a class="txt1" href="#">
                                    <span>üye değil misin?</span>
                                    <a href="~/Account/Register" class="to_register">Üye Ol</a>
                                </a>*@
                        </div>
                    </form>
                </div>
            </div>
        </div>

    }




    <!--===============================================================================================-->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min2.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>

</body>

</html>