@{
    if (ViewBag.Usertype == "\"Student\"")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else if (ViewBag.Usertype == "\"Parent\"")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else if (ViewBag.Usertype == "\"Teacher\"")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}



<body>
    <main id="main">





        <div class="row text-center" style="padding:100px; ">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">

                <h4 class="title"><a href="@Url.Action("Add", "MessagePage") ">Send a Message</a></h4>
                <p class="description "><img src="~/images/send.png" width="100" height="100" /></p>
            </div>
        </div>
        <div class="row text-center" style="padding:100px; ">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">

                <h4 class="title"><a href="@Url.Action("List", "MessagePage") ">List your Messages</a></h4>
                <p class="description"><img src="~/images/list.png" width="100" height="100" /></p>
            </div>
        </div>


        

    </main><!-- End #main -->

</body>
