
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mobil Okul Yönetim Sayfasına Hoş Geldiniz</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="~/apple-touch-icon.png">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/css/fontAwesome.css">
    <link rel="stylesheet" href="~/css/hero-slider.css">
    <link rel="stylesheet" href="~/css/owl-carousel.css">
    <link rel="stylesheet" href="~/css/datepicker.css">
    <link rel="stylesheet" href="~/css/tooplate-style.css">
   

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="~/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

@*https://www.tooplate.com/view/2112-brunch*@
<body>

    <div class="wrap">
        <header id="header">
            <div class="container-fluid">
                <div class="col-md-12">
                    <button id="primary-nav-button" type="button">Menu</button>
                    <div class="logo">
                        <a href="index.html"><img src="~/images/logo.png" alt="Brunch Template"></a>
                    </div>
                    <nav id="primary-nav" class="dropdown cf">
                        <ul class="dropdown menu">

                            <li>
                                <a href="#">Functions</a>
                                <ul class="sub-menu">
                                    <li><a href="generic-page.html">Announcement</a></li>
                                    <li><a href="generic-page.html">FeedBack</a></li>
                                    <li><a href="generic-page.html">Grades</a></li>
                                    <li><a href="generic-page.html">News</a></li>
                                    <li><a href="generic-page.html">Notifications</a></li>
                                    <li><a href="generic-page.html">Reservation</a></li>
                                    <li><a href="generic-page.html">Surveys</a></li>
                                    <li><a href="generic-page.html">Syllabus</a></li>
                                </ul>
                            </li>

                            <li><a href="@Url.Action("LoginMobile", "LoginMobile")" class="nav-link">Logout</a></li>
                            <li><a class="nav-link">
                                
                                
                                </a></li>
                        </ul>

                    </nav> 
                </div>
            </div>
        </header>
    </div>

    

        <div class="banner">
            <div class="container-fluid">
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="left-content">
                        <div class="inside-content">
                            <h4>Welcome @ViewBag.NameSurname</h4>
                            <div class="white-border-button">
                                @*<a href="#">View More</a>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <div class="center-image">
                        <div class="inside-content">
                            <img src="~/images/student.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="right-content">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <a style="text-decoration:none" href="#"><h1>Syllabus</h1></a>
                            </div>
                            <div class="item">
                                <a style="text-decoration:none" href="#"><h1>Grades</h1></a>
                            </div>
                            <div class="item">
                                <a style="text-decoration:none" href="#"><h1>News</h1></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       




        <div class="template-presentation">
            <div class="container">
                <p style="font-size:50px;color:white">Notifications</p>
                <br />
                <div class="col-md-7 hidden-xs hidden-sm">
                    <div class="left-image">
                        <img src="~/images/dersprogramı.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-5 hidden-xs hidden-sm">
                    <div class="right-content">
                        <div class="author-image">
                            <h1>Notifications</h1>
                            <img src="~/images/notifications.png" alt="">
                        </div>
                        <h4></h4>
                        <div class="blue-button">
                            @*<a href="#">View More</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-5 hidden-lg hidden-md">
                    <div class="right-content">
                        <div class="author-image">
                            <img src="~/images/notifications.png" alt="">
                        </div>
                        <h4></h4>
                        <div class="blue-button">
                            @*<a href="#">View More</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-7 hidden-lg hidden-md">
                    <div class="left-image">
                        <p style="font-size:50px;color:white">Syllabus</p>
                        <br />
                        <img src="~/images/dersprogramı.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>


        <div class="left-right-image">
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="right-image">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="hidden-sm hidden-xs"></h2>
                                <h2 class="hidden-lg hidden-md"></h2>
                                <span></span>
                                <p></p> <br />
                                <p></p>
                                <div class="blue-border-button">
                                    @* <a href="#">View More</a>*@
                                </div>
                            </div>
                            <p style="font-size:50px;color:deepskyblue">News</p>

                            <div class="col-md-6">
                                <div class="image">
                                    <br />
                                    <img src="~/images/news.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />
                    <p style="font-size:50px;color:deepskyblue">Grades</p>
                    <div class="left-image">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="image">
                                    <br />
                                    <img src="~/images/grades.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2 class="hidden-sm hidden-xs"></h2>
                                <h2 class="hidden-lg hidden-md"></h2>
                                <span></span>
                                <p></p> <br />
                                <p></p>
                                <div class="blue-border-button">
                                    @* <a href="#">View More</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="video">
            <div class="container-fluid">
                <div class="col-md-4">
                    <div class="text-content">
                        <div class="inside-content">
                            <h4></h4>
                            <div class="white-border-button">
                                @*<a href="#">View More</a>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div id="video-container">
                        <div class="video-overlay"></div>
                        <div class="video-content">
                            <div class="inner">
                                @* <a href="http://youtube.com" target="_blank"><i class="fa fa-play"></i></a>*@
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="container">
            <div class="col-md-2 col-sm-6">
                <div class="footer-item">
                    <h2></h2>
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="footer-item">
                    <h2></h2>
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="footer-item">
                    <h2></h2>
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="footer-item">
                    <h2></h2>
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="footer-item">
                    <h2></h2>
                    <p></p>
                    <ul class="social-icons">

                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="content">
        <div class="container-fluid">
            @RenderBody()
        </div><!-- /.container-fluid -->
    </div>

    <div class="sub-footer">
        <div class="container">
            <div class="col-md-12">
                <p>
                    Copyright &copy; 2021 Mobile School Management

                    - Design: <a rel="nofollow" href="#">Tooplate</a>
                </p>
            </div>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/js/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="~/js/bootstrap.min.js"></script>

    <script src="~/js/datepicker.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main2.js"></script>


</body>
</html>