@{      


    if (ViewBag.Usertype=="\"Student\"")
    {
        Layout = "~/Views/Shared/_Layout_Student.cshtml";
    }
    else if (ViewBag.Usertype == "\"Parent\"")
    {
        Layout = "~/Views/Shared/_Layout_Parent.cshtml";
    }
    else if (ViewBag.Usertype == "\"Teacher\"")
    {
        Layout = "~/Views/Shared/_Layout_Teacher.cshtml";
    }

}

<!--<div class="template-presentation">
    <div class="container">

        <div class="col-md-7 hidden-xs hidden-sm">
            <div class="left-image">
                <p style="font-size:50px;color:white">Syllabus</p>
                <br />
                <img src="~/images/dersprogramı.jpg" alt="">
            </div>
        </div>

        <div class="col-md-5 hidden-xs hidden-sm">
            <div class="right-content">
                <div class="author-image">
                    <img src="~/images/notifications.png" alt="">
                </div>
                <h4></h4>
                <div class="blue-button">-->
                    @*<a href="#">View More</a>*@
                <!--</div>
            </div>
        </div>

        <p style="font-size:50px;color:white">Notifications</p>
        <br />
        <div class="col-md-5 hidden-lg hidden-md">

            <div class="right-content">

                <div class="author-image">

                    <img src="~/images/notifications.png" alt="">
                </div>
                <h4></h4>
                <div class="blue-button">-->
                    @*<a href="#">View More</a>*@
                <!--</div>
            </div>
        </div>

        <div class="col-md-7 hidden-lg hidden-md">
            <div class="left-image">
                <p style="font-size:50px;color:white">Syllabus</p>
                <br />
                <img src="~/images/dersprogramı.jpg" alt="">
            </div>
        </div>
    </div>
</div>


<div class="left-right-image">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="right-image">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="hidden-sm hidden-xs"></h2>
                        <h2 class="hidden-lg hidden-md"></h2>
                        <span></span>
                        <p></p> <br />
                        <p></p>
                        <div class="blue-border-button">-->
                            @* <a href="#">View More</a>*@
                        <!--</div>
                    </div>
                    <p style="font-size:50px;color:deepskyblue">News</p>

                    <div class="col-md-6">
                        <div class="image">
                            <br />
                            <img src="~/images/news.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <br />        
        </div>
    </div>
</div>-->






<footer>
    <div class="container">
        <div class="col-md-2 col-sm-6">
            <div class="footer-item">
                <h2></h2>
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="footer-item">
                <h2></h2>
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="footer-item">
                <h2></h2>
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="footer-item">
                <h2></h2>
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="footer-item">
                <h2></h2>
                <p></p>
                <ul class="social-icons">

                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="template-presentation">
    <div class="container">
        <div class="col-md-7 hidden-xs hidden-sm">
            <div class="left-image">
                <img src="~/images/school.png" alt="">

            </div>
        </div>

        <div class="col-md-5 hidden-xs hidden-sm">
            <div class="right-content">
                <h4>SCHOOL MANAGEMENT SYSTEM</h4>
                <div class="author-image">
                    <img src="img/template-author.png" alt="">
                </div>
                <div class="blue-button">
                    @*<a href="#">View More</a>*@
                </div>
            </div>
        </div>
        <div class="col-md-5 hidden-lg hidden-md">
            <div class="right-content">
                <div class="author-image">
                    <img src="~/images/school.png" alt="">
                </div>
                <h4>SCHOOL MANAGEMENT SYSTEM</h4>
                <div class="blue-button">
                    @*<a href="#">View More</a>*@
                </div>
            </div>
        </div>
        <div class="col-md-7 hidden-lg hidden-md">
            <div class="left-image">
                <img src="img/template-image.png" alt="">
            </div>
        </div>
    </div>
</div>


