@using MobilOkulProc.Entities.Concrete
@using MobilOkulProc.MobileApp.Models

@model GradePageModel<GRADE>

@{
    if (ViewBag.Usertype == "\"Student\"")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else if (ViewBag.Usertype == "\"Parent\"")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else if (ViewBag.Usertype == "\"Teacher\"")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}




<main id="main">

    <div class="box-body table-responsive" style="padding:100px;">
        <table class="table table-hover table-bordered text-center">
            <thead>
                <tr class="bg-primary text-bold">
                    <th class="fixed">
                        @Html.DisplayNameFor(model => model.Mesajlar.Nesne.Grade)
                    </th>
                    <th class="hidden-xs hidden-sm">
                        @Html.DisplayNameFor(model => model.Mesajlar.Nesne.Lecture.LectureName)
                    </th>

                </tr>
            </thead>
            <tbody class="bg-gray">
                @foreach (var item in Model.PagedList)
                {
                    // @if (item.Lecture.StudentsID==ViewBag.Student)
                    //  {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lecture.LectureName)
                        </td>
                    </tr>
                    // }
                }
            </tbody>
        </table>
    </div>


</main><!-- End #main -->
